#submit-button {
  border: none;
  outline: none;
}

#search-area {
  border: none;
  outline: none;
}

#item:focus {
  color: orange;
}

#item:hover {
  background-color: orange;
}

#basic-nav-dropdown:focus {
  color: orange;
}

#basic-nav-dropdown:hover {
  background-color: orange;
}
