#submit-button {
  border: none;
  outline: none;
}

#search-area {
  border: none;
  outline: none;
}

#item:focus {
  color: orange;
}

#item:hover {
  background-color: orange;
}

#basic-nav-dropdown:focus {
  color: orange;
}

#basic-nav-dropdown:hover {
  background-color: orange;
}

#my-nav {
  position: fixed;
  float: left;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 2;
}

#oswa {
  cursor: url("https://i.ibb.co/RCN81x1/mono-Cur-2.png"), auto;
}
