#current-time {
  font-size: 24px;
  color: pink;
}

#current-bid {
  font-size: 24px;
  color: pink;
}

#end-time {
  font-size: 24px;
  color: pink;
}

#current-winner {
  color: orange;
  font-size: 18px;
  margin-left: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

#bid-btn {
  border: none;
  outline: none;
  margin-top: 15px;
}

#suggest-price {
  padding: 10px;
  color: orange;
  font-size: 18px;
}

#bid-price-control-btn {
  outline: none;
}

#bid-price-control-btn:hover {
  color: orange;
  border-color: orange;
}

#crown-pic {
  width: 30px;
  margin-right: 10px;
}
