#plate{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    width: 287px;
    height: 700px;
    text-align: left;
    padding: 20px;
    position: fixed;
}
#image {
    width: 250px;
    height: 250px;
    text-align: center;
}
.fit-picture{
    width:150px;
    height:150px;
  }