body {
  background-color: #303030;
}

#paragraph {
  color: white;
}

#first-col {
  background-color: orange;
}
<<<<<<< HEAD

#second-col {
  text-align: center;
}
=======
>>>>>>> e8c6fd9de72239edf16ef58141c64def0a899517
